.header-container {
  height: 30px;
  padding: 10px;
  background-color: #EFE9E1;
}

.logo,
.burger_icon {
  height: 100%;
  display: inline-block;
}

.logo img {
  height: 100%;
}

.burger_icon img {
  height: 75%;
}

.burger_icon {
  float: right;
}

.nav-items-desktop {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
}

.nav-item {
  height: 100%;
  display: inline-block;
  margin-left: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
  color: #6E6D6E;
  transition: .2s ease-in-out;
}

.nav-item a:hover {
  color: #0E4B29;
  transition: .2s ease-in-out;
}

@media (min-width: 769px) {
  .burger_icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-items-desktop {
    display: none;
  }

  .mobile-menu {
    display: block;
    background-color: #f7f5f2;
    padding: 0;
    margin: 0;
    box-shadow: 1px 2px 4px 0px #0000004a;
  }

  .mobile-item {
    text-align: center;
    margin: 0;
    padding: 18px 0;
  }

  .mobile-item a {
    text-decoration: none;
    color: #6E6D6E;
    font-weight: 500;
  }
}
