<div class='header-container'>
  <div class='logo'>
    <a routerLink="/"><img src="/assets/images/logo.svg" alt="image"></a>
  </div>
  <div class='nav-items-desktop'>
    <span class='nav-item'><a routerLink="/add-property">ADD PROPERTY</a></span>
    <span class='nav-item'><a routerLink="/add-booking">ADD BOOKING</a></span>
    <span class='nav-item'><a routerLink="/map">MAP</a></span>
  </div>
  <div class='burger_icon' (click)='expandMobileMenu($event)'>
    <img src="/assets/images/burger_icon.svg" alt="image">
  </div>
</div>
<div class='mobile-menu' *ngIf="expanded == true">
  <p class='mobile-item'><a routerLink="/map">MAP</a></p>
  <p class='mobile-item'><a routerLink="/add-property">ADD PROPERTY</a></p>
  <p class='mobile-item'><a routerLink="/add-booking">ADD BOOKING</a></p>
</div>
