h1 {
  text-align: center;
  font-size: 24px;
}

#add-booking-form {
  width: 35%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 14px 60px 50px 60px;
  box-shadow: 1px 2px 4px 0px #0000004a;
  border-radius: 8px;
}

#add-booking-form input,
#add-booking-form select {
  width: 100%;
  margin: 20px auto;
  display: block;
  font-size: 20px;
  padding: 14px 0px 6px 0px;
  text-indent: 10px;
  border: 0;
  border-bottom: 2px solid #0E4B29;
  outline: 0;
}

#add-booking-form .submit-btn {
  width: 100%;
  display: block;
  font-size: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #e6e6e6;
  border: 0;
  color: #295E3F;
  margin-top: 40px;
  transition: .25s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px #0000003d;
  outline: 0;
}

#add-booking-form .submit-btn:hover {
  background-color: #cacaca;
  transform: translateY(8%);
  transition: .25s ease-in-out;
}

@media (max-width: 768px) {
  #add-booking-form {
    width: 70%;
    padding: 14px 40px 50px 40px;
  }
}
