<div id='add-booking-form'>
  <h1>Add Booking</h1>
  <input type="date" id="date" name="date" [(ngModel)]="date">
  <input type="time" id="appt" name="time" min="09:00" max="18:00" [(ngModel)]="time">
  <select name="properties" id="properties" (change)='getData($event)' [(ngModel)]="prop_id">
    <option *ngFor="let property of properties" [attr.data-id]="property.id" [ngValue]="property.id">{{property.title}}
    </option>
  </select>
  <button class='submit-btn' (click)="addNewBooking($event)">Add</button>
</div>
