<div id='add-property-form'>
  <h1>Add Property</h1>
  <input type='text' placeholder='Title:' [(ngModel)]="title_input" />
  <input type='text' placeholder='Address:' [(ngModel)]="address_input" />
  <input type='number' placeholder='Latitude:' [(ngModel)]="latitude_input" />
  <input type='number' placeholder='Longitude:' [(ngModel)]="longitude_input" />
  <button class='submit-btn' (click)="addNewProperty($event)">Add</button>
</div>
