#here-map-wrapper {
  width: 100%;
  height: 800px;
  position: relative;
}

.H_ib_body {
  background-color: #fff;
}

.property-dialog {
  position: absolute;
  min-width: 200px;
  z-index: 10;
  background-color: #fff;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  padding: 12px 24px 24px 24px;
  box-shadow: 1px 1px 7px 0px #00000042;
}

.property-dialog button {
  background-color: #F7941D;
  border: 0;
  color: #fff;
  width: 100%;
  padding: 10px;
  outline: 0;
  cursor: pointer;
}

.property-dialog button a {
  text-decoration: none;
  color: #fff;
}

.close-dialog {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  cursor: pointer;
}

.close-dialog img {
  width: 20px;
}

@media (max-width: 768px) {
  #here-map-wrapper {
    height: 93vh;
  }
}
