<div #map id='here-map-wrapper'>
  <div *ngIf="showPropDialog" class='property-dialog'>
    <span class='close-dialog' (click)='closeDialog($event)'><img src='/assets/images/close.png' /></span>
    <p>{{selectedProperty.title}}</p>
    <p>{{selectedProperty.address}}</p>

    <button><a [routerLink]="['/add-booking', selectedProperty.id]">Book</a></button>
  </div>
</div>
